.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #374151;
  top: 0;
  bottom: 0;
  left: 31px;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%; 
  padding-left: 70px; 
  padding-right: 25px;
}

.left {
  left: 0;
}
.right {
  left: 0;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 15px; 
  background-color: white;
  border: 4px solid #38bdf8;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.right::after {
  left: 15px;
}

.content {
  padding: 20px 30px;
  background-color: var(--bubble-gray);
  position: relative;
  border-radius: 20px;
  transition: background-color 0.2s;
}

.content:hover {
    background-color: var(--bubble-blue);
}

@media (min-width: 768px) {
  .timeline::after {
    left: 50%;
  }

  .container {
    width: 50%;
  }

  .left {
    left: 0;
  }

  .right {
    left: 50%;
  }
  
  .container::after {
    right: -17px;
    left: auto; 
  }

  .right::after {
    left: -16px;
  }
}